
.userInfo {
    display: block;
    margin-top: 20px;
    border: black solid 2px;
    background-color: grey;
}

.info {
    width: 90%;
    margin: 20px auto;
    display: block;
}
.postTitle{
    width: 18%;
    height: 150px;
    display: inline-block;
    background-color: grey;
    box-sizing: border-box;
    margin: 10px;
}


